body {
	font-family: Calibri;
}

table {
	border-collapse: collapse;
}

tr:nth-child(even) {
	background: #dae5f4;
}

tr:nth-child(odd) {
	background: #FFF;
}

td {
	border:#4e95f4 0.5px solid;
	padding: 5px;
}

th {
	border: 0.5px solid #4e95f4;
	padding: 5px;
	text-align: left;
	cursor: pointer;
	background: #b8d1f3;
}

.arrow_up {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid black;
	display: inline-block;
}

.arrow_down {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid black;
	display: inline-block;
}
