<html ng-app="ajsdtmodule">
<head>
	<title>AngularJS Data table</title>
	<link href="css/ajsdtcss.css" rel="stylesheet" type="text/css">
	<script src="js/angular.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/ajsdtcontroller.js"></script>
</head>
<body ng-controller="ajsDTController">
	Search: <input type="text" placeholder="search" ng-model="searchText">
	<br/>
	<br/>
	<table>
		<thead>
			<tr>
				<th ng-click="sortData('name')">Name
					<div ng-class="getSortClass('name')"></div>
				</th>
				<th ng-click="sortData('gender')">Gender
					<div ng-class="getSortClass('gender')"></div>
				</th>
				<th ng-click="sortData('dateOfBirth')">Date of Birth
					<div ng-class="getSortClass('dateOfBirth')"></div>
				</th>
				<th ng-click="sortData('salary')">Salary
					<div ng-class="getSortClass('salary')"></div>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr
				ng-repeat="employee in employees | orderBy:sortColumn:reverseSort | filter:searchText">
				<td>{{employee.name}}</td>
				<td>{{employee.gender | uppercase}}</td>
				<td>{{employee.dateOfBirth | date : "dd-MMM-yyyy"}}</td>
				<td>{{employee.salary | currency : "Rs " : 2}}</td>
			</tr>
		</tbody>
	</table>
</body>
</html>